*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150vh;
    color: #f2eded;
    font-size: 16px;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 4px #000000;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.info{
    margin: 2% 2%;
    padding: 5%;
    border: 6px solid #f2eded;
}
.info h2{
    text-align: center;
    margin-bottom: 4%;
    font-weight: 800;
}
.form-section{
    background: transparent;
    border: 2px solid #f2eded;
    border-radius: 10px;
    min-height: 100px;
    padding: 5%;
    width: 100%;
    backdrop-filter: blur(8px);
}

.input-area h4{
    margin: 5% 0;
}

.input-area input{
    border: none;
    background: transparent;
    border-bottom: 2px solid #f2eded;
    width: 60%;
    cursor: pointer;
}

::placeholder{
    color: blanchedalmond;
    letter-spacing: 1.5;
}
.pizza{
    width: 40%;
    cursor: pointer;
}
.checkbox{
    margin-top: 10%;
}
.checkbox input{
    cursor: pointer;
}
.submit-btn{
    display: flex;
    justify-content: center;
}
.submit-btn button{
    padding: 3% 5%;
    border-radius: 5%;
    margin: 7% 0%;
    color: #f2eded;
    background-color: #f4511e;
    border: none;
    text-shadow: 2px 2px 3px #000000;
    transition: all 0.5s;
    text-align: center;
    font-size: 16px;
}
.submit-btn button:hover{
    cursor: pointer;
    background-color: #f7a389;
    font-size: 20px;
}